body {
    background-color: #13b2da; /* Azul claro para o fundo */
    margin: 0;
    display: flex;
    flex-direction: column; /* Adicionado para empilhar os elementos verticalmente */
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Arial', sans-serif; /* Fonte padrão para o corpo */
}

#game-board {
    width: 300px;
    height: 300px;
    border: 1px solid #000;
    position: relative;
    background-color: #FFFFFF; /* Branco para o tabuleiro */
    margin-top: 20px; /* Espaço acima do tabuleiro */
}

.snake {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid #006400; /* Contorno verde escuro para a cobra */
    position: absolute;
}

.snake div {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #006400, #00FF00); /* Verde claro no meio da cobra */
}

.food {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%; /* Fazendo o spawn ser um círculo */
    position: absolute;
}

h1 {
    color: white; /* Cor branca para o texto */
    margin-bottom: 20px; /* Espaço abaixo do título */
    -webkit-background-clip: text; /* Aplicar background apenas ao texto */
    background-clip: text;
    text-shadow: 2px 2px 0 black; /* Simula um contorno preto nas letras */
    font-family: 'Square Deal', 'Avenger', 'Roboto', sans-serif; /* Fontes quadradas alternativas */
}

.arrow-buttons {
    text-align: center;
}

#upButton {
    font-size: 30px; /* Aumentei o tamanho do botão "up" para manter a formatação original */
    width: 50px;
    height: 50px;
    margin: 5px;
    display: inline-block;
}

#leftButton, #downButton, #rightButton {
    font-size: 30px;
    width: 50px;
    height: 50px;
    margin: 2px;
    display: inline-block;
}

#scoreboard {
    background-color: rgba(255, 255, 255, 0.5); /* Fundo quadriculado branco com opacidade */
    color: white; /* Cor do texto branco */
    text-shadow: 2px 2px 0 black; /* Simula um contorno preto nas letras */
    font-weight: bold; /* Texto em negrito */
    padding: 10px;
    text-align: center;
}

#score {
    font-size: 18px; /* Tamanho da fonte para o score */
    color: white; /* Cor do texto branco */
    text-shadow: 2px 2px 0 black; /* Simula um contorno preto nas letras */
    font-weight: bold; /* Texto em negrito */
}

/* Cor branca para o título (h1) */
h3 {
    color: white;
}

/* Cor branca para a div que contém os top scores */
#top-scores {
    color: white;
}

#restart{
    text-align: left;
    display: inline-block;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 15px;
    background-color: rgb(255, 255, 255)
    
}